
.group-action {
	min-width: 132px;
}

.group-action .btn {
	padding: 4px 8px;
	margin-top: -4px;
	color: #fff;
}

.table {
	font-size: 12px;
}

.justify {
	text-align: justify;
}

.description {
	line-height: 200%;
}

.clear {
	clear: both;
}

.dropdown-sub-pannel {
	min-width: 300px;
	background-color: #fff;
}

.sub-pannel {
	padding: 8px;
}

.pd-tb12 {
	padding: 12px 0px;
}

.pd-tb24 {
	padding: 24px 0px;
}

.button-add {
	float: right;
	/*margin-top: -32px;*/
	/*margin-right: 16px;*/
}

span.action {
	float: right;
	margin-right: 48px;
}

.table>tbody>tr>td,
.table>tr>td {
	vertical-align: middle;
}

.nowrap-ellipsis-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 12px;
	padding-bottom: 4px;
}

.nowrap-ellipsis-3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 12px;
	padding-bottom: 4px;
}

.admin-gallery-list {
	min-height: 480px;
}

.form-filter {
	/*        width: max-content;
        float: left;
        margin-right: 12px;*/
}

.row-offcanvas-left .sidebar-offcanvas {
	padding-top: 16px;
}

.row-offcanvas .content {
	padding: 24px;
	padding-top: 16px;
	min-height: 720px;
}

.navbar-custom .navbar-brand {
	width: auto!important;
	color: #fff;
}

.footers {
	color: #fff;
	background-color: #303641;
	padding-top: 12px;
}

.progress-bar span {
	color: #666;
	margin-right: 20px;
	right: 0;
	top: 0;
	position: absolute;
}

.res4-2-b {
	display: none;
}

.res3-b {
	display: none;
}

.res2-b {
	display: none;
}

.res3-o {
	overflow: none;
}

.res2-o {
	overflow: none;
}

@media(max-width:767px) {
	.res4-2-2 {
		width: 50%!important;
	}
	.res4-2-1 {
		width: 50%!important;
	}
	.res3-1 {
		width: 100%!important;
	}
	.res4-2-h {
		display: none;
	}
	.res3-h {
		display: none;
	}
	.res4-2-b {
		display: block;
		width: 50%!important;
	}
	.res3-b {
		display: block;
		width: 100%!important;
	}
	.res3-o {
		overflow: scroll;
	}
}

@media(max-width:479px) {
	.res4-2-1 {
		width: 100%!important;
	}
	.res2-1 {
		width: 100%!important;
	}
	.res2-h {
		display: none;
	}
	.res2-b {
		display: block;
		width: 100%!important;
	}
	.res2-o {
		overflow: scroll;
	}
}